In [11]:
a =(1,)

In [12]:
type(a)

tuple

In [13]:
a,b = 1,2

In [15]:
b

2

In [16]:
a = 1,2
type(a)

tuple

In [1]:
a = [1]
type(a)

list

In [2]:
a = (1)
type(a)

int

In [3]:
a = (1,)

In [4]:
type(a)

tuple

In [ ]:
l =[1,2,3]

# create a tuple of numbers
py_tuple = (33, 55, 77)
print("A tuple of numbers:", py_tuple)

# create a tuple of mixed numbers
# such as integer, float, imaginary
py_tuple = (33, 3.3, 3+3j)
print("A tuple of mixed numbers:", py_tuple)

# create a tuple of mixed data types
# such as numbers, strings, lists
py_tuple = (33, "33", [3, 3])
print("A tuple of mixed data types:", py_tuple)

# create a tuple of tuples
# i.e. a nested tuple
py_tuple = (('x', 'y', 'z'), ('X', 'Y', 'Z'))
print("A tuple of tuples:", py_tuple)
print(len(py_tuple))
py_tuple1 = ('x', 'y', 'z', ('X', 'Y', 'Z'))
print(len(py_tuple1))

In [1]:
# empty tuple
tup1 = ()

# a tuple with single data item
tup2 = (99,)

# tuple of strings
tup3 = ("hi", "hello", "bye")

# tuple of int, float, string
tup4 = (1, 2.8, "Hello World")

# tuple of string and list
tup5 = ("Book", [1, 2, 3])

# tuples inside another tuple
# nested tuple
tup6 = ((2, 3, 4), (1, 2, "hi"))

In [2]:
tup1

()

In [3]:
tup5

('Book', [1, 2, 3])

In [ ]:
# create an empty tuple
py_tuple = ()
print("A blank tuple:", py_tuple)

In [4]:
# create a tuple without using round brackets
py_tuple = 33, 55, 77, 12
print(py_tuple)
type(py_tuple)
#print("A tuple set without parenthesis:", py_tuple, "type:", type(py_tuple))

(33, 55, 77, 12)

tuple

In [6]:
a,b,c,d = 1,2,3,4

In [7]:
a

1

In [8]:
py_tuple

(33, 55, 77, 12)

In [9]:
py_tuple[1]

55

In [17]:
l = (1,23)

In [18]:
l[1]=45

TypeError: 'tuple' object does not support item assignment

In [12]:
l

[1, 45]

In [13]:
py_tuple[1] = 12

TypeError: 'tuple' object does not support item assignment

In [ ]:
py_tuple

In [ ]:
# creating a tuple from a list
s = [33, 55 , 77]
print(s)
print(type(s))
py_tuple = tuple(s)
print(py_tuple)
print(type(py_tuple))

l = [1,3,6]
py_tuple = tuple(l)
py_tuple

In [14]:
t = (1,2,3,4)
type(t)
l = list(t)
l.append(5)
t = tuple(l)

In [15]:
t

(1, 2, 3, 4, 5)

In [16]:
# creating a tuple from a list
a= tuple([33, 55 , 77,12])
print(type(a))
a

<class 'tuple'>

(33, 55, 77, 12)

In [17]:
a[2]

77

In [18]:
# A single element surrounded by parenthesis will create a string instead of a tuple
py_tuple = (22,)
type(py_tuple)

tuple

In [19]:
# You need to place a comma after the first element to create a tuple of size "one"
py_tuple = ('single',)
print(py_tuple)
type(py_tuple)

('single',)

tuple

In [20]:
# You can use a list of one element and convert it to a tuple
py_tuple = tuple(['single'])
print(type(py_tuple))
print(py_tuple)

<class 'tuple'>
('single',)

In [21]:
# You can use a set of one element and convert it to a tuple
py_tuple = tuple({'single'})
type(py_tuple)
py_tuple

('single',)

In [ ]:
# accessing first element

# Via Indexing
# The simplest is the direct access method where you use the index operator
# [] to pick an item from the tuple. 
# You can start indexing from the 0th position.

In [22]:
vowel_tuple = ('a','e','i','o','u')

print("The tuple:", vowel_tuple, "Length:", len(vowel_tuple))

# Indexing the first element
print("OP(vowel_tuple[0]):", vowel_tuple[0])

# Indexing the last element
print("OP(vowel_tuple[length-1]):", vowel_tuple[len(vowel_tuple) - 2])
vowel_tuple[-1]

The tuple: ('a', 'e', 'i', 'o', 'u') Length: 5
OP(vowel_tuple[0]): a
OP(vowel_tuple[length-1]): o

'u'

In [23]:
print("OP(vowel_tuple[length+1]):", vowel_tuple[len(vowel_tuple) +1])

IndexError: tuple index out of range

In [24]:
print(vowel_tuple[len(vowel_tuple)-1])

u

In [26]:
# Indexing a non-existent member
# will raise the IndexError
try:
    print(vowel_tuple[len(vowel_tuple)+1])
except Exception as ex:
    #print("OP(vowel_tuple[length+1]) Error:", ex)
    print('The index you are using is not available')

The index you are using is not available

In [27]:
vowel_tuple[0.0]

TypeError: tuple indices must be integers or slices, not float

In [28]:
# Indexing in a tuple of tuples
t_o_t = (('jan', 'feb', 'mar'), ('sun', 'mon', 'wed'),(2,4,8,9))
print(t_o_t[1])

# Accessing elements from the first  tuple
print("OP(t_o_t[0][1]):", t_o_t[0:2])

# Accessing elements from the second sub tuple
print("OP(t_o_t[1][2]):", t_o_t[1][2])

('sun', 'mon', 'wed')
OP(t_o_t[0][1]): (('jan', 'feb', 'mar'), ('sun', 'mon', 'wed'))
OP(t_o_t[1][2]): wed

In [ ]:
# Via Reverse Indexing

# The reverse indexing works in the following manner.
    # The index -1 represents the last item.
    # An index with value -2 will refer to the second item from the rear end.

In [29]:
vowels = ('a','e','i','o','u')
vowels

print(vowels[-1])
print(vowels[-2])
print(vowels[-5])

u
o
a

In [ ]:
# Via Slicing Operator

In [ ]:
# If you need to access not one but more than one element from a tuple, 
# then Python’s slicing operator can come to use.

# The single colon, i.e., a “:” represents the slicing operator in Python.

In [30]:
weekdays = ('mon', 'tue', 'wed' ,'thu', 'fri', 'sat', 'sun')
weekdays

('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')

In [50]:
weekdays[::-6]

('sun', 'mon')

In [48]:
weekdays[-2:-4:-1]

('sat', 'fri')

In [ ]:
# accessing elements leaving the first one
weekdays[1:]

In [ ]:
# accessing elements between the first and fifth positions
# excluding the ones at the first and fifth position
weekdays[1:5]

In [ ]:
# accessing elements after the fifth position
weekdays[5:]

In [ ]:
weekdays

In [ ]:
# accessing elements that appears after
# counting five from the rear end
weekdays[1:-5]

In [ ]:
weekdays[::-6]

In [ ]:
# accessing five elements from the rear
weekdays[-5:-2]

In [ ]:
# accessing elements from the start to end
weekdays[:]

In [ ]:
# Similar to list and strings we can use negative indexes to access the tuple 
# elements from the end.
# -1 to access last element, -2 to access second last and so on.
my_data = (1, 2, "Kevin", 8.9)

# accessing last element
# prints 8.9
print(my_data[-1])

# prints 2
print(my_data[-3])

In [51]:
# Accessing elements from nested tuples
my_data = (1, "Steve", (11, 22, 33))


print(my_data[1][3])

print(my_data[2][1])

v
22

In [54]:
# changing the tuple element
my_data = (1, [9, 8, 7], "World")
#my_data = (1, (9, 8, 7), "World")
print(my_data)


print(my_data[1])
my_data[1][0] = 101

my_data

(1, [9, 8, 7], 'World')
[9, 8, 7]

(1, [101, 8, 7], 'World')

In [55]:
# changing the tuple element, which are mutable
world = "NEW"
my_data = (1, [9, 8, 7], "BLUE",world)
print(my_data)

# changing the element of the list
# this is valid because list is mutable
world= "Happy"
#my_data[2] = "RED"
#my_data[0]= 10
my_data = (1, [9, 8, 7], world)
my_data[1][1]=10
print(my_data)

(1, [9, 8, 7], 'BLUE', 'NEW')
(1, [9, 10, 7], 'Happy')

In [59]:
# deleting tuple elements
my_data = (1, 2, 3, 4, 5, 6,"ABC")
print(my_data)

# not possible
# error due to immutablity
del my_data[2]

# deleting entire tuple is possible
#del my_data

(1, 2, 3, 4, 5, 6, 'ABC')

In [60]:
my_data

(1, 2, 3, 4, 5, 6, 'ABC')

In [ ]:
# Slicing operation in tuples
my_data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(my_data)

# elements from 3rd to 5th
# prints (33, 44, 55)
print(my_data[2:5])

# elements from start to 4th
# prints (11, 22, 33, 44)
print(my_data[:4])

# elements from 5th to end
# prints (55, 66, 77, 88, 99)
print(my_data[4:])

# elements from 5th to second last
# prints (55, 66, 77, 88)
print(my_data[4:-1])

# displaying entire tuple
print(my_data[:])

In [ ]:
# Membership Test in Tuples
# in: Checks whether an element exists in the specified tuple.
# not in: Checks whether an element does not exist in the specified tuple.
my_data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(my_data)

# true
print(22 in my_data)

# false
print(2 in my_data)

# false
print(88 not in my_data)

# true
print(101 not in my_data)

In [61]:
# Iterating a tuple
# tuple of fruits
my_tuple = ("Apple", "Orange", "Grapes", "Banana")

# iterating over tuple elements
for fruit in my_tuple:
     print(fruit)

Apple
Orange
Grapes
Banana

In [62]:
# tuple methods
my_tuple = ('a','p','p','l','e','p')

# Count
print(my_tuple.count('p'))

# Index
print(my_tuple.index('p'))

3
1

In [65]:
# How Can You Delete A Tuple
py_tuple = (['p','a'], 'y', 't', 'h', 'o', 'n')
#a =list (py_tuple)
#print(a)

del py_tuple[0][1]

In [66]:
py_tuple

(['p', 'a'], 'y', 't', 'h', 'o', 'n')

In [64]:
py_tuple

(['p'], 'y', 't', 'h', 'o', 'n')

In [ ]:
del py_tuple[0]

In [ ]:
py_tuple = ('p', 'y', 't', 'h', 'o', 'n')

# you can't delete a particular item from a tuple
try:
    del py_tuple[0]
except Exception as abc:
    print(abc)

In [ ]:
# but you can delete a whole tuple
del py_tuple
try:
    print(py_tuple)
except Exception as ex:
    print("print(py_tuple) => Error:", ex)

In [ ]:
l = [1,(2,3),4]
l[1]

In [ ]:
l[1]=8
l

In [ ]:
l[1][0]= 2